.edit_container {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
    0px 1px 1px 0px rgb(0 0 0 / 14%), 
    0px 1px 3px 0px rgb(0 0 0 / 12%);
    
    form {
        
        mat-form-field {
            width: 100%;
        }
    
        .static_label {
            margin-right: 15px;
        }
    
        .input_spacing {
            margin: 20px 0;
        }

        .btns {
            text-align: right;
            button:not(:last-child) {
                margin-right: 15px;
            }
        }
        
        @media screen and (min-width: 1025px) {
            .btn-add-tag {
                display: none;
            }
        }
    }
}