<div class="edit_container" *ngIf="!isLoading">
    <h2 *ngIf="editMode && !msg">Edit Post</h2>
    <h2 *ngIf="!editMode">New Post</h2>
    <h2 *ngIf="msg">{{ msg }}</h2>
    <form #postForm="ngForm" *ngIf="!msg">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Insert title" [ngModel]="title" name="title" maxlength="255" required>
            <mat-hint>max 255 characters</mat-hint>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Insert image url" [ngModel]="img" name="img" required>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <textarea matInput [ngModel]="content" name="content" maxlength="60000" required>
            </textarea>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>max 60000 characters</mat-hint>
        </mat-form-field>
        <div class="input_spacing">
            <mat-form-field appearance="fill">
                <mat-label>Tags*</mat-label>
                <input matInput placeholder="Insert Tags" 
                name="tag" [(ngModel)]="tag" (keydown.enter)="addTag()">
                <button class="btn-add-tag" mat-icon-button matSuffix (click)="addTag()"
                type="button">
                    <mat-icon matSuffix>send</mat-icon>
                </button>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <mat-error *ngIf="tags.length == 0">Add at least 1 tag</mat-error>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let chip of tags; let i = index" 
                (removed)="tags.splice(i, 1)">
                    {{ chip }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="input_spacing">
            <label class="static_label">Visibility</label>
            <mat-button-toggle-group appearance="legacy" ngModel
            name="visible" aria-label="Visibility" [(ngModel)]="this.visible" required>
                <mat-button-toggle value="1">Public</mat-button-toggle>
                <mat-button-toggle value="0">Private</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="btns">
            <button mat-raised-button type="button" (click)="onSubmit(postForm)"
             color="primary" [disabled]="!postForm.valid || tags.length == 0">
                <span *ngIf="!editMode">Create new post</span>
                <span *ngIf="editMode">Edit post</span>
            </button>
            <button mat-raised-button type="button" (click)="onDelete()"
             color="warn" *ngIf="editMode">
                Delete post
            </button>
        </div>
    </form>
</div>
<app-loading *ngIf="isLoading"></app-loading>